.document-container .rl-tree-preview,
.journal-container .rl-tree-preview {
	
	background: #f5f5f5 ;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: right;
    height: auto;
    width: 40%;
    padding: 20px;
    text-align:center;
    position: relative;
}

.treePreviewImg {
max-height: 300px;
}

.aui .icon-tree{
	background-image: url(/html/icons/rl_tree.png);
	height: 14px;
    width: 14px;
}
@media (max-width: 767px) {
    .rl-tree-preview {
        display: none;
    }
}